{% extends 'music/base.html' %}

{% block body %}
	{% if all_albums %}
	<h2>Here all my albums</h2>
	<ul>
		{% for album in all_albums %}
		<!-- <li><a href="/music/{{album.id}}/">{{album.album_title}}</a></li>	 --><!-- Old format with hardcoded url, so changing it to dynamic -->
		<li>
			<a href="{% url 'music:detail' album.id %}">{{album.album_title}}</a> -
			<a href="{% url 'music:album-update' album.id %}">Edit</a>
			<a href="{% url 'music:album-delete' album.id %}">Delete</a>
		</li>
		{% endfor %}
	</ul>
	{% else %}
		<h3>No albums</h3>
	{% endif %}
{% endblock %}
